<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Business.Properties.Settings.ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\DesignDB.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <userSettings>
        <Business.Properties.Settings>
            <setting name="Hello" serializeAs="String">
                <value>tete"a</value>
            </setting>
            <setting name="WSUrl" serializeAs="String">
                <value>http://</value>
            </setting>
            <setting name="Other" serializeAs="String">
                <value>dfgdfgdfg</value>
            </setting>
            <setting name="xx" serializeAs="String">
                <value/>
            </setting>
            <setting name="mysett" serializeAs="String">
                <value>ddd</value>
            </setting>
            <setting name="Steve" serializeAs="String">
                <value>fffff</value>
            </setting>
            <setting name="StringSetting" serializeAs="String">
                <value>string setting value</value>
            </setting>
        </Business.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Business.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ddd" serializeAs="String">
                <value/>
            </setting>
            <setting name="Business_localhost_Service" serializeAs="String">
                <value>http://localhost:4609/WebService/Service.asmx</value>
            </setting>
        </Business.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
